/* Kontener na obrazek */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: -1;
  pointer-events: none;
}

.rotating-image {
  width: 300px;
  height: auto;
  opacity: 0.8;
  transition: transform 0.1s ease-out;
}
